[bot]
; login as bot and get TMI_TOKEN from https://twitchapps.com/tmi/
; login as user and get ACCESS_TOKEN and CLIENT_ID at https://twitchtokengenerator.com/
; The token needs chat:read, chat:edit, channel:moderate and channel:read:subscriptions
TMI_TOKEN=oauth:<hash>
ACCESS_TOKEN=your_access_token
CLIENT_ID=your_client_id
BROADCAST_ID=your_user_accounts_id
BOT_NICK=your_bot_nick
CHANNEL=your_nick
; multiple admins are separated with only a comma, eg: ADMINS=name,anothername,thirdname
ADMINS=your_nick
; LUCK_BUMP is how much the luck increases every time a user doesn't win.
; The TIERn_LUCK is how much bonus the different tiers of subscribers get.
; The giveaway rolls a 1000 sided dice.
LUCK_BUMP=10
TIER1_LUCK=300
TIER2_LUCK=350
TIER3_LUCK=400
; reminder_delay is how long the bot should wait before reminding chat that a giveaway is open
REMINDER_DELAY=delay_in_seconds
; prefix for bot commands
BOT_PREFIX=!
